//variables:
$backgroundlightgrey: #F2F2F2;;
$backgroundlightgrey2: rgba(244, 244, 244,0.49);
$yellow: #FFD100;
$buttongrey: rgba(0, 0, 0,0.11);
$autofield: #C7B65B;
$bordergrey:#A39A9A;;
$blackfont: black;
$lighterfont: black;
$fontnotactive: rgba(0,0,0,0.16);
$fontnormal: rgba(0,0,0,0.65);
$screenwidth: 320px;
$screenheight: 568px;
@mixin side-padding{
    padding: 0 30px 0 30px;
}
@mixin side-margin{
    margin: 0 30px 0 30px;
}
@mixin titlestyle{
    font-size: 1.5rem;
    color: $fontnormal;
    font-family: "Hellix-SemiBold";
    line-height: 1.812rem;
}
